@charset "UTF-8";

/* 커뮤니티 글 목록*/
.list-page-main{
	background:#FFE066;
}

.post-list{
	background:white;
}

/* 커뮤니티 글 상세*/
.detail-background{
	background:#FFE066;
}


.detail-main{
	background:white;
}

.detail-header{
	background:green;
}

.detail-photo{
	max-width:300px;
}

/* 커뮤니티 글 등록*/
.writeform-main{
	background:#FFE066;
}
