@charset "UTF-8";

/*------------------------------------- 공용 css ------------------------------------------------*/
.page-main{
	width:80%;
	margin:0 auto;
}

li{
	list-style:none;
}

.vertical {
    width: 0px;            
    height: 90%;         
    margin: auto;        
}

.shadow-effect{
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.height-center{
	display:flex;
	align-items:center;	
}

.width-center{
	display:flex;
	justify-content:center;
}

.align-center{
	display:flex;
	justify-content:center;
	align-items:center;
}
.align-left{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.space50-div,
.space100-div,
.space150-div,
.space500-div {
    width: 100%;
}

.space50-div {
    height: 50px;
}

.space100-div {
    height: 100px;
}

.space150-div {
    height: 150px;
}

.space500-div {
    height: 500px;
}

/*----------------------------------------------------------------------------------------------  */


.m-title-container{
	
	height:150px;
}

.m-title-container h1{
	font-size:35px;
}


.m-header1-container{
	
	height:350px;
	display:flex;
	position:relative;
}

.header1-box{
	width:50%;
	height:100%;
}

.m-header1-container .box1{
	width:50%;
	height:100%;
	
}

.m-header1-container .box2{
	display:flex;
	position:relative;
	width:50%;
	height:100%;
	
}

.header-item{
	margin-left:5%;
}

.item1{
	font-size:50px;
	font-weight:bold;
}
.item2{
	height:40%;
	font-size:18px;
	font-weight:bold;
	display:flex;
	align-items:center;
	width:60%;
	color:#4A4A4A;
	line-height:2rem;
}


.item3{
	height:25%;
	position:relative;
	display:flex;
	align-items:flex-end;
	
}


.item3-btn{
	width:25%;
	height:50%;
	border-radius:10px;
	background:#FFE066;
	border:none;
	font-size:15px;
	font-weight:bold;
	cursor:pointer;
}



.user-card{
	display:flex;
	width:90%;
	height:100%;
	margin: auto;
	border-radius:10px 10px 10px 10px;;
	background:#FFE066;
}

.card-left{
	width:50%;
	position:relative;
	
}
.card-right{
	display:flex;
	width:50%;
	
}

.left1{
	
	width:100%;
	height:40%;
	display:flex;
	align-items:center;
}

.left2{
	width:100%;
	height:50%;
}

.left2 hr{
	width:90%;
}


.left3{
	
	width:100%;
	height:10%;
	display:flex;
	align-items:center;
	position:relative;
}

.info-link{
	position:absolute;
	font-size:11px;
	font-weight:bold;
	right:5%;
}

.left1 img{
	border-radius:50%;
	width:100px;
	height:100px;
	margin:auto 10%;
}

.left1 p{
	font-size:15px;
	font-weight:bold;
}

.left2-title{
	font-size:16px;
	font-weight:bold;
	margin-left:5%;
}

.left2-container{
	display:flex;
	align-items:center;
	position:relative;
	
}

.left2-container img{
	margin: 0 50%;
	border-radius:10px 10px 10px 10px;
}

.left2-box1{
	width:20%;
}

.left2-box2{
	width:80%;
	
}

.left2-box2 li{
	
	font-weight:bold;
	font-size:12px;
	line-height:1.5rem;
	
	margin-left:10%;
}

.left2-box2 label{
	
	display:inline-block;
	width:100px;
}
.card-right{
	width:50%;
	position:relative;
	display:flex;
	flex-direction:column;		
}

.right1{
	height:40%;
	width:100%;
	position:relative;
}
.right1-box1{
	display:flex;
	align-items:center;
}
.right1 img{
	border-radius:50%;
	width:100px;
	height:100px;
	margin-top:4%;
	margin-left:10%;
}


.right-user{
	margin-left:15%;
	margin-top:5%;
}

.right-user p{
	font-size:15px;
	font-weight:bold;
}

.right2{
	height:50%;
	line-height:2rem;
	margin:5% 0;
}

.right2 label{
	display:inline-block;
	width:150px;
	font-size:15px;
	font-weight:bold;
	
}


.right3{
	width:100%;
	height:10%;
	display:flex;
	align-items:center;
	position:relative;	
}







.m-content1-container{
	background:#FFE066;
	position:relative;
}

.m-content1-title{
	font-size:35px;
	font-weight:bold;
	
	display:flex;
	align-items:center;
	justify-content:center;
	height:100px;
}


.content1-box{
	display:flex;
	position:relative;
	
	height:50%;
}
.c1b1-item{
	width:20%;
	height:200px;
	border-radius:10px 10px 10px 10px;
	background:white;
	margin:8% auto;
	position:relative;
}

.c1b1-title{
	position:absolute;
	width:100px;
	height:30px;
	border-radius:20px 20px 20px 20px;
	background:#FFE066;
	top:-7%;
	left:5%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:12px;
	font-weight:bold;
}

.c1b1-content{
	width:90%;
	height:70%;
	margin:10% auto;
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	font-size:18px;
}


.c1b2-item{
	margin:0 auto;
	width:20%;
	height:200px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	
}

.c1b2-item .p1{
	font-size:20px;
	
}

.c1b2-item .p2{
	font-size:60px;
	
}


.m-content2-container{
	height:700px;
}

.c2-title{
	font-size:40px;
	font-weight:bold;
	margin:10% 5%;
}

.content2-box{
	display:flex;
	position:relative;
	height:60%;
	width:80%;	
}
.c2b1-item{
	
	width:80%;
	margin:0 auto;
}
.itemc1{
	width:40%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-weight:bold;
	font-size:18px;
}

.itemc1 span{
	color: #337AFF;
	margin-left:20%;
}
.itemc1 .p2{
	margin-top:3%;
	width:50%;
	margin-left:20%;
}

.itemc2{
	width:50%;
	margin-left:10%;
}

.itemc2-btn{
	width:80%;
	height:12%;
	
	display:flex;
	justify-content:center;
	margin:0 17.5%;
}

.itemc2-btn button{
	margin:0 auto;
	width:20%;
	height:100%;
	border-radius:10px;
	border:none;
	font-size:16px;
	font-weight:bold;
}

.clicked{
	background:#FFE066;
}

.itemc3{
	width:75%;
	height:70%;
	border-radius:5px;
	border:none;
	margin:5% 20%;
}

.m-content3-container{
	background:green;
	height:500px;
}

.m-content4-container{
	
}



.c3-title, .c4-title{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:30px;
	font-weight:bold;
	margin-top:5%;
}

.c3-content, .c4-content{
	width:100%;
	margin-top:5%;
	
}
/* -------------------사용자 챌린지------------------------- */
.c4-header{
	position:relative;
}

.linkToChall{
	position:absolute;
	right:1%;
	top:90%;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
}

.c4-content {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈을 허용 */
    gap: 2rem; /* 아이템 간 간격 */
    justify-content: flex-start; /* 중앙 정렬 */
}

.ch-item {
	
    flex: 0 0 calc(20% - 2rem); /* 5개 기준: 20% 너비에서 간격(gap) 제외 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    position: relative;
    cursor:pointer;
    height: 220px; 
}


.item-header{
	display:flex;
	position:relative;
	width:100%;
}

.item-heart{
	position:absolute;
	right:1%;
}

.ch-category{
	width:80px;
	height:30px;
	border-radius:10px 10px 10px 10px;
	background:#FFE066;
	font-size:13px;
	font-weight:bold;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
}

.ch-background{
	
	height:150px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	margin-top:5%;
}

.ch-bgImg{
	object-fit: cover;
	z-index:1;
	width:100%;
	height:100%;
	
}

.ch-background::before {
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.4); /* 어두운 오버레이 색상과 투명도 설정 */
    z-index:2; /* 이미지 위에 오버레이가 오도록 설정 */
}

.ch-background p{
	font-weight:bold;
	font-size:16px;
	color:white;
	width:100%;
	text-align:center;
}

.ch-dueDate{
	font-weight:bold;
	background:white;
	font-size:13px;
	border-radius:10px 10px 10px 10px;
	width:50px;
	height:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;
	position:absolute;
	right:3%;
	top:3%;
}

.ch-title{
	z-index:2;
	position:absolute;
}

.ch-info{
	width:100%;
	height:15px;
	margin-top:3%;
	font-size:12px;	
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:10px;
}

.ch-info img{
	width:10px;
	height:10px;
}

.ch-info .info-val{
	margin-left:10%;
}

.ch-people, .ch-like, .ch-view{
	z-index:2;
	display:flex;
	position:absolute;
	height:15px;
	width:10%;
}

.ch-people{
	left:0;
}

.ch-like{
	right:50px;
}

.ch-view{
	right:5px;
}

/* 미디어 쿼리 */
@media (min-width: 768px) {
    .m-header1-container {
        flex-wrap: nowrap;
    }

    .header1-box {
        width: 50%;
    }

    .user-card {
        flex-direction: row; /* 큰 화면에서는 가로 정렬 */
    }

    .card-left,
    .card-right {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .m-title-container h1 {
        font-size: 3rem; /* 큰 화면에서는 더 큰 폰트 */
    }

    .item3-btn {
        font-size: 1.2rem;
    }
}
