body {
  background: white;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

ul{
	list-style-type: none;
}

.chall ul, .prize ul{
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
}

.chall li, .prize li{
	margin-right: 50px;
	font-weight: bold;
}

.mypage{
	height: 100vh;
}

img.logo{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 50px;
}
img.logo2 {
    position: absolute; /* 부모 요소 기준으로 위치 지정 */
    top: 10px; /* 상단에서 10px 위치 */
    left: 10px; /* 왼쪽에서 10px 위치 */
    width: 70px;
    height: 50px;
}
/* 마이페이지 배경 */
.top{
	position: absolute;
	height: 50%;
	background-color: #fee066;
}
.bottom{
	height: 50%;
	background-color: white;
}

/* 헤더 홀 */
input.hole{
	width: 90px;
	height: 20px;
	border: 0px;
	border-radius: 50px;
	background-color: #fee066;
	margin-right: 40px;
}
input.hole2{
	width: 90px;
	height: 20px;
	border: 0px;
	border-radius: 50px;	
	background-color: #fee066;
	margin-right: 30px;
}
/* 폼 */
form {
  background-color: #FFFFFF;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 0;
  width: 400px;
  height: 650px;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.form-wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-color: #fee066;
	background: linear-gradient(to bottom, #fee066 50%, transparent 50%);
}

form.mypage-form{
    position: absolute;  /* 폼1을 절대 위치로 설정 */
    top: 50%;             /* 부모 요소의 50% 위치 */
    left: 50%;            /* 부모 요소의 50% 위치 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치 */
	z-index: 3;
}

form.mypage-form2{
    position: absolute;  /* 폼2도 절대 위치로 설정 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 위치 */
    top: 50%;             /* 부모 요소의 50% 위치 */
    left: 50%;  
	z-index: 2;
}

/* 마이페이지 */
.mypage-wrapper{
	width: 100%;
}

/* 초록바 */
.green{
	background-color: #6ae06e;
	width: 12px;
	height: 650px;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}
.green2{
	background-color: #6ae06e;
	width: 12px;
	height: 650px;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

/* 프로필 */
.profile-container{
	display: flex;
	align-items: center;
 	position: relative; 
}
.profile-wrapper{
	padding-top: 40px;
	padding-left: 40px;
	width: 100px;
}
.photo-btn{
	padding-left: 40px;
	width: 100px;
}

.photo-btn input{
  	border-radius: 10px;
  	border: 2px solid #666666;
  	background-color: #ffeb3b;
  	color: #000000;
  	font-size: 12px;
  	font-weight: bold;
  	padding: 10px 0px;
  	letter-spacing: 1px;
  	cursor: pointer;
  	width: 100px;
}

.profile{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 2px solid #666666;
}

/* 닉네임 뱃지 */
.badge{
	text-align: center;
	width: 40px;
	display: flex;
}

.badge-nick{
	margin-left: 80px;
	padding-top: 30px;
	align-content: center;
	width: 100px;
	font-weight: bold;
}
.nick{
	display: inline-block;
}
.level{
	margin-left: 10px;
	margin-top: 5px;
}

.mysetting{
	margin-top: 10px;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	background-color: #d9d9d9;
}

/* 챌린지 성과 */
.chall-prize-container{
	display: block;
}
.chall{
	margin-top: 60px;
	position: relative;
}

.chall h3{
	margin-top: 40px;
	margin-left: 0;
}
.prize{
	margin-top: 50px;
}

.chall ul li, .prize ul li{
	font-size: 20px;
	font-style: bold;
	margin-left: 40px;
}

/* 계정 정보 */
.mydetail-wrapper{
	display: flex;
}


.mydetail-list,
.mydetail-result {
  	display: flex;
  	flex-direction: column;
  	margin: 0;
  	padding: 0;
}

.mydetail-list ul,
.mydetail-result ul {
	margin: 0;
	padding: 0;
}

.mydetail-list{
	width: 70px;
	padding-top: 40px;
	padding-left: 30px;
}

.mydetail-list li {
 	font-size: 13px;
 	font-weight: bold;
 	text-align: left;
  	margin-bottom: 40px;
  	width: 70px;
}

.mydetail-result{
	width: 70px;
	padding-top: 40px;
	padding-left: 50px;
	font-weight: bold;
}

.mydetail-result li {
  	margin-bottom: 10px;
  	display: flex;
  	flex-direction: column;
  	width: 80px;
  	font-size: 16px;
}
.mydetail-result li input[type="button"] {
	font-weight: bold;
	padding: 5px 10px;
	font-size: 10px;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	background-color: #d9d9d9;
}
input[type="button"]:hover{
	cursor: pointer;
  transform: scale(1.2);
}
.hole, .hole2 {
  cursor: default;
  pointer-events: none;
  transition: none;
}

/* 개인 정보 */
.myinfo-wrapper{
	display: flex;
}

.myinfo-list,
.myinfo-result {
  	display: flex;
  	flex-direction: column;
  	margin: 0;
  	padding: 0;
  	font-weight: bold;
}

.myinfo-list ul,
.myinfo-result ul {
	margin: 0;
	padding: 0;
}

.myinfo-list{
	width: 100px;
	padding-top: 10px;
	padding-left: 10px;
}

.myinfo-list li {
 	font-size: 15px;
 	font-weight: bold;
 	text-align: center;
  	margin-bottom: 10px;
}

.myinfo-result{
	width: 100px;
	padding-top: 10px;
	padding-left: 10px;
}

.myinfo-result li {
 	font-size: 15px;
 	font-weight: bold;
 	text-align: center;
  	margin-bottom: 10px;
}

/* 선호 카테고리 */

.pref-pref{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.pref-pref ul{
	margin: 0;
	padding: 0;
}

.pref-pref input{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    width: 90px;
    height: 25px;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.pref-pref h3{
    font-size: 15px;
    margin: 0; /* 기본 여백 제거 */
    padding-left: 10px;
}

.pref-result{
	display: flex;
	align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.pref-result ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pref-result li{
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 15px;
	margin-left: 20px;
	border: 1px solid;
	border-radius: 25px;
	width: 80px;
	height: 30px;
	background-color: #fee066;
}


.flex-wrap-list {
    display: flex;
    flex-wrap: wrap; /* 넘칠 경우 줄바꿈 */
    list-style: none; /* 기본 불릿 제거 */
    padding: 0;      /* 기본 여백 제거 */
    margin: 0;
  }

/* 랭크 */
h1{
	text-align: center;
	font-style: bold;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 50px;
}
.pp{
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 50px;
}
p{
	position: absolute;
	text-align: center;
	border: 5px solid;
	width: 800px;
	height: 30px;
	border-radius: 25px;
}

.rank-wrapper{
	display: flex;
	align-items: center;
  	justify-content: center;
  	margin-top: 100px;
}

.rank{
	border: 0px;
	border-radius: 25px;
	width: 900px;
	height: 800;
	display: flex;
	justify-content: flex-end; /* 자식 요소들을 오른쪽으로 정렬 */
}

.rank-left{
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
   	margin-left: 50px;
   	width: 150px;
   	text-align: center;
}

.rank-rank {
	flex-direction: center;
	text-align: center;
}

.rank-rank h3{
	width: 100%;
}

.rank-rank ul{
	padding: 0;
    margin: 0;
    margin-top: 20px
}

.rank-rank li{
	display: flex;
    flex-direction: column;
}

.rank-left img{
	margin-top: 50px;
	width: 100px;
	height: 100px;
}

.rank-right img{
	margin: 50px 150px;
	width: 350px;
	height: 300px;
}

/* 뱃지 */
.infobadge-wrapper{
	display: flex;
	align-items: center;
  	justify-content: center;
  	margin-top: 50px;
  	margin-bottom: 50px;
}

.infobadge{
	border: 0px;
	border-radius: 25px;
	width: 900px;
	height: 404px;
	display: flex;
	justify-content: flex-end; /* 자식 요소들을 오른쪽으로 정렬 */
}

.info-left{
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
   	margin-left: 70px;
   	width: 150px;
   	text-align: center;
   	align-content: center;
   	align-items: center;
}

.info-left img{
    border-radius: 50px;
}

.info-left input{
   	margin-left: 45px;
   	border-radius: 10px;
  	border: 2px solid #666666;
  	background-color: #ffe479;
  	color: #000000;
  	font-size: 12px;
  	font-weight: bold;
  	padding: 10px 10px;
  	letter-spacing: 1px;
  	cursor: pointer;
  	width: 100px;
  	margin-top: 20px;
}

.info-left h3{
	margin-left: 45px;
}

.info-info{
	display: flex;
   	align-items: center;
   	margin-top: 20px;
}

.info-right ul li{
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 20px;
}

.info-right{
	display: flex;
	margin-right: 100px;
}

.info-right input{
	border: none;
	background-color: #ffe479;
	font-weight: 900;
	font-size: 20px;
	color: #796c68;
	cursor: pointer;
}	

.info-rightbtn{
	margin-top: 30px;
	cursor: pointer;
}

/* 폼 애니메이션 */
.checkbox:checked + label,
.checkbox:not(:checked) + label{
 position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-180deg);
}

.card-3d-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
}
.card-3d-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(-180deg);
}
.card-3d-wrap.check, .card-3d-wrapper.check {
  transform: rotateY(-180deg);
}

.center-wrap{
  transform: translate3d(0, -50%, 10px) perspective(100px);
  z-index: 20;
}

/* 아이프레임 */
#iframe{
	position: fixed;
	background-color: white;
	z-index: 50;
}
